<div class="container">
  <nav>
    <a href="">Edit My Profile</a>
    <span>|</span>
    <a href="">Logout</a>
  </nav>

  <h1>Welcome, !</h1>

  <div class="row">
    <h4>Here are some of the events at your state:</h4>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Date</th>
          <th>Location</th>
          <th>Host</th>
          <th>Action/Status</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td></td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="row">
    <h4>Here are some of the events on other states:</h4>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Date</th>
          <th>Location</th>
          <th>State</th>
          <th>Host</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td></td>
      </tr>
      </tbody>
    </table>
  </div>
  
  <div class="row">
    <h3>Add Event</h3>
    <form class="form-horizontal" action="/events" method="post">

      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

      <div class="form-group">
        <label for="event_name" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" id="event_name">
        </div>
      </div>

      <div class="form-group">
        <label for="event_date" class="col-sm-2 control-label">Date</label>
        <div class="col-sm-3">
          <input type="date" class="form-control" id="event_date">
        </div>
      </div>

      <div class="form-group">
        <label for="event_location" class="col-sm-2 control-label">Location</label>
        <div class="col-sm-3">
          <input type="text" class="form-control" id="event_location">
          <select class="form-control">
            <% us_states.each do |state| %>
              <option name="user[state]" value=""><%= state[0] %></option>
            <% end %>
          </select> 
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">Add Event</button>
        </div>
      </div>

    </form>
  </div>
</div>





